apipkg==1.5
configparser==3.7.4
coverage==4.5.4
enum34==1.1.6
execnet==1.6.1
flake8==3.7.8
lxml==4.4.0
mccabe==0.6.1
nose==1.3.7
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
pytest==5.2.2
pytest-cache==1.0
pytest-cov==2.7.1
pytest-pep8==1.0.6
